{% extends 'base.html' %}
{% load static %}
{% block content %}




<div class="imagebg">

    <h1> About Us</h1>
</div>
<div class="row " style="margin-top: 50px; padding-bottom: 50px;">
<div class="col-md-6 col-md-offset-3 form-container">
<h2>Note From The Founding Editors</h2>
<p>
    Instead of the traditional models of family-owned, corporate-funded and controlled or advertising-driven newspapers, websites and TV channels, can we reimagine the media as a joint venture in the public sphere between journalists, readers and a concerned citizenry? One in which decisions over what to cover and how, who to hire and where to send a correspondent or photographer, are taken by editors on the basis of professional judgment, without worrying about what a proprietor or politician, official or advertiser might think or want.
</p>
<p>
    In a democracy, this is the least that readers or viewers expect. And yet, the business model that underpins most Indian news media seldom allows editors the freedom they need. Worse, it has slowly eroded professional standards of reporting and contaminated the media ecosystem with toxic practices like rampant editorialising, paid news and ‘private treaties’. Increasingly, media houses are reluctant to spend money on news-gathering; and as they develop secondary business interests and ‘no go areas’ proliferate, their newsrooms suffer further collateral damage – especially as these interests often depend on proximity to politicians and bureaucrats. Is it any wonder that readers have begun to notice the erosion of professional standards, ethical breaches and fall in quality? They now feel shortchanged.
</p>
<p>
    The founding premise of The News Portal is this: if good journalism is to survive and thrive, it can only do so by being both editorially and financially independent. This means relying principally on contributions from readers and concerned citizens who have no interest other than to sustain a space for quality journalism.
</p>
<p>
    As a publication, The News Portal will be firmly committed to the public interest and democratic values. Apart from providing authoritative analysis and commentary, the aim, as our resources grow, is to build ourselves as a platform driven by good old-fashioned reporting on issues of national and international importance and interest. Being on the web also means using new media technologies to change the way stories are told. With data and interactive charts, video and audio as integral parts of the narrative structure when warranted.
</p>
<p>
    You will establish a vision for shaping and targeting our journalism for different social media platforms, and you will be responsible for understanding and developing new strategies, tools and workflows as those platforms evolve. This means you will grow our presence on Facebook, Twitter, Instagram, Reddit, chat apps and emerging platforms. Engaging our readers, monitoring on-site and off-platform conversations for story ideas and integrating readers’ contributions and insights into the daily edit meets would be vital.
</p>



</div>
</div>

{% endblock %}